.minibox {
	background-color: brown;
	width: 200px;
	height: 80px;
	display: none;
	justify-content: center;
}

.titleofmessage {
	font-family: 'Courier New', Courier, monospace;
	color: #eea4a4;
}
.taimer {
	border: solid black 1px;
	height: 80px;
	width: 300px;
}

/* ------------------------------------- */

.anim-box {
	border: solid black 1px;
	height: 400px;
}
.block {
	width: 50px;
	height: 50px;
	background-color: #eea4a4;
	transition: all 1000ms;
}

.cycle {
	width: 50px;
	height: 50px;
	background-color: aqua;
	border-radius: 50%;
	transition: all 1000ms;
}
.block2 {
	width: 50px;
	height: 50px;
	background-color: #0368ff;
	transition: all 1000ms;
}
.block3 {
	width: 50px;
	height: 50px;
	background-color: #c92424;
	transition: all 1000ms;
}
/* ------------------------------------------------------------------- */

.btn {
	border-radius: 50px;
	width: 50px;
	height: 50px;
	border: solid;
}
.bt2 {
	transform: translate(320px, 100px);
}
.bt3 {
	transform: translate(20px, 184px);
}

.scoreboard {
	font-size: 20px;
	font-family: 'Courier New', Courier, monospace;
	color: #0044ff;
}
.game {
	border: solid 1px black;
	height: 250px;
}
.timer {
	border: solid 1px black;
	height: 250px;
	display: flex;
	align-items: center;
	gap: 50px;
	justify-content: center;
}
